rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Documentos dos Usuários (dados financeiros e perfil)
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Códigos de pareamento temporários (WhatsApp & Telegram)
    match /bot_links/{code} {
      allow read, write: if true;
    }
    
    // Mapeamento Telefone WhatsApp -> Usuário
    match /phoneLinks/{phone} {
      allow read, write: if true;
    }
    
    // Mapeamento Telegram Chat -> Usuário
    match /telegramLinks/{chatId} {
      allow read, write: if true;
    }
  }
}
